body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('../images/background.webp');
    background-size: auto;
    background-color: #000000;
    background-repeat: no-repeat;
    height: 100vh;
    /* Asegura que el fondo cubra toda la página */
}